<body>
  <div class="container mt-5 card"> 	
  <nav class="navbar navbar-expand-sm bg-light justify-content">
    <ng-container class="row" *ngIf="modeExcSimple">
      <h2>Exclusion genres simple</h2>
    </ng-container>
  </nav>
  <div class="row">
    <div *ngFor="let genre of genres">
      <div class="col-sm-2">
        <label for="{{ genre }}">{{ genre }} : </label>
        <input type="checkbox" id="{{ genre }}" (change)="genreSelected()" class="form-control">
      </div>	 
    </div> 
  </div>
  <a [routerLink]="['/serieForm']"><button class="btn btn-succes">Ajouter une serie</button></a>
  <div class="row">
    <div *ngFor="let serie of series">
      <div class="col-sm-2" id="series">
        <a [routerLink]="['/serie', serie.id ]"><img src="{{ serie.cov }}" class="image" alt="{{ serie.titre }}"/></a>    	
      </div>	 
    </div>   	        
  </div>
</div> 
</body>