<div class="container mt-5 card">
  <div class="card-body">
    <div class="form-group">
      <label for="pseudonyme">Pseudonyme : </label>
      <input [(ngModel)]="user.pseudonyme" name="pseudonyme" id="pseudonyme" class="form-control" required/>
    </div>
    <button class="btn btn-success" (click)="checkUser()">Générer la question secrète</button>
    <div class="form-group" *ngIf="question">
      <label for="question">Question : </label>
      <p>{{ user.question }}</p>
      <label for="reponse">Réponse : </label>
      <input [(ngModel)]="reponse" name="reponse" id="reponse" class="form-control" required/>
      <button class="btn btn-success" (click)="checkResponse()">Valider</button>
    </div>
    <form [formGroup]="passForm" (ngSubmit)="savePass()">
      <div class="form-group" *ngIf="editPass">
        <label for="password">Mot de passe : Il doit être composé d'au moins une minuscule, une majuscule, un chiffre et faire une taille de minimum 8 caractères</label>
        <input formControlName="password" type="password" id="password" class="form-control"/>
        <div *ngIf="f.password.errors && submitted" class='alert-danger'> 
          <div *ngIf="f.password.errors.required">Mot de passe requis.</div>
          <div *ngIf="f.password.errors.pattern">Mot de passe invalide.</div>
        </div>
        <button class="btn btn-success">Enregistrer ce mot de passe</button>
      </div>
    </form>    
  </div>
</div>