<div *ngFor="let section of sections.sections; let i = index">
    <a href="#{{i-1}}"><</a>
    <section id="{{i}}" *ngFor="let movie of section">
        <div class="item">
            <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov_horizontale }}" class="image" alt="{{ movie.titre }}"/></a>
            <span class="fa fa-chevron-down" (click)="showDetails(movie)"*ngIf="!show"></span>  	
            <span class="fa fa-chevron-up" (click)="hideDetails()" *ngIf="show"></span>
            <app-infobulle [movie]="movie" *ngIf="item === movie"></app-infobulle>
        </div> 
    </section>
    <a href="#{{i+1}}">></a>
</div>