<button (click)="prevSection()" *ngIf="activeSection !== sections.sections[0]" class="fa fa-arrow-circle-left"></button>
<div class="row">
    <div class="section" id="{{i}}" *ngFor="let movie of activeSection">
        <div class='col-sm-3'>
            <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov_horizontale }}" class="image" alt="{{ movie.titre }}"/></a>
            <span class="fa fa-chevron-down" (click)="showDetails(movie)"*ngIf="!show"></span>  	
            <span class="fa fa-chevron-up" (click)="hideDetails()" *ngIf="show"></span>
        </div>
        <app-infobulle [movie]="movie" *ngIf="item === movie"></app-infobulle>
    </div>
</div>
<button (click)="nextSection()" *ngIf="activeSection !== sections.sections[sectionsSize-1]" class="fa fa-arrow-circle-right"></button>
