.container{
    color: white;
    background-color: #383D5D;
}

#movie
{
    padding: 10px;
}

#movie:hover ~ .popup
{
    position: fixed;
    display: block;
    top: 0;
    background-color: rgba(0,0,0,1);
    color: white;
}

.popup
{
    display: none;
}

.image
{
    width: 150px;
    height: 190px;
}

.pegi
{
    width: 50px;
    height: 50px;
}

#genresExclus
{
    display: none;
    position: absolute; 
    width: 40%; 
    height: 40%; 
    top: 70px;
    right: 250px;
    background-color: rgb(100, 169, 174); 
    overflow: scroll;
    border:3px solid black;
}

#realsExclus
{
    display: none;
    position: fixed; 
    width: 40%; 
    height: 40%; 
    top: 70px;
    right: 250px;
    background-color: rgb(100, 169, 174); 
    overflow: scroll;
    border:3px solid black;
}

#actorsExclus
{
    display: none;
    position: fixed; 
    width: 40%; 
    height: 40%; 
    top: 70px;
    right: 250px;
    background-color: rgb(100, 169, 174); 
    overflow: scroll;
    border:3px solid black;
}

.closePopup{
    color: white;
    background-color: black;
    float: right;
}

.corbeille
{
    position: relative;
    top: 70px;
    right: 0;
    width: 75px;
}

body{
    background-color: #383D5D;
}

#bestMoviesChecked{
    padding: 0px;
    margin: 0px;
}

.double_arrows{
    width: 20px;
}