.container
{
    background-size: 100%;
    color: white;
    padding: 0px;
    margin: 0px;
}

#movie
{
    padding: 10px;
}
.image
{
    width: 150px;
    height: 150px;
}
.pegi
{
    width: 50px;
    height: 50px;
}

#bestMoviesChecked
{
    position:relative;
}
#bestMovie
{
    position:relative;
}
input[type=text]
{
    width: 175px;
    height: 30px;
    border-radius: 10px;
}
.rond
{
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 10px;
    width: 10px;
    background:transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.my-custom-class .tooltip-inner 
{
    background-color: darkblue;
    max-width: 300px;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li 
{
    display:inline-block;
    vertical-align: top;
}
.btn-link
{
    color: white;
    background-color: transparent;
    position: relative;
}
.mode
{
    float: right;
}
.items
{
    background-color: rgba(0, 0, 0, 0.3);
}
h2, h3
{
    text-align: center;
    margin: 0%;
    padding: 0%;
}
hr
{
    position: relative;
    color: white;
    top: 10px;
}
.checkboxrondes
{
    background-color: rgba(0, 0, 0, 0.2);
}
#bestEightMovie
{
    padding: 10px;
}
.synospis
{
    width: 80%; 
    height: 20%; 
    overflow-y: scroll;
}



