<body>
  <div class="container mt-5 card"> 	
    <button class="btn btn-primary" (click)="switchMode()" *ngIf="exclusion">Mode Inclusion</button>
    <button class="btn btn-primary" (click)="switchMode()" *ngIf="!exclusion">Mode Exclusion</button>
    <button class="btn btn-primary" (click)="testAllo()">Test</button>
    <div class="row">
      <div class="col-sm-3">
        <div class="btn btn-succes">genres simples</div>
        <img *ngIf="!displayGenres" class="double_arrows" (click)="showGenresSimples()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayGenres" class="double_arrows" (click)="hideGenresSimples()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
      </div>
      <div class="col-sm-3">
        <div class="btn btn-succes">genres avancés</div>
        <img *ngIf="!displayGenresAvance" class="double_arrows" (click)="showGenresAvance()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayGenresAvance" class="double_arrows" (click)="hideGenresAvance()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
        <input *ngIf="displayGenresAvance" (input)="genreAvanceSearched($event.target.value)" type="text" class="form-control" id="genreSearch"/>
      </div>
      <div class="col-sm-3">
        <div class="btn btn-succes">Réalisateurs</div>
        <img *ngIf="!displayRealisateurs" class="double_arrows" (click)="showRealisateurs()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayRealisateurs" class="double_arrows" (click)="hideRealisateurs()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
        <input *ngIf="displayRealisateurs" (input)="searched($event.target.value)" type="text" class="form-control" id="realSearch"/>
      </div>
      <div class="col-sm-3">
        <div class="btn btn-succes">Acteurs</div>
        <img *ngIf="!displayActeurs" class="double_arrows" (click)="showActeurs()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayActeurs" class="double_arrows" (click)="hideActeurs()" src="https://image.flaticon.com/icons/svg/60/60640.svg">  
        <input *ngIf="displayActeurs" (input)="searched($event.target.value)" type="text" class="form-control" id="actorSearch"/>
      </div>
    </div>
  <p-dialog class="row" [(visible)]="displayGenres">
    <div class="row">
      <div class="col-sm-10">
        <div *ngIf="genreFound">
          <label for="{{ genreInput }}">{{ genreInput }} : </label>
          <input type="checkbox" (change)="selected(genreInput)" class="form-control">
        </div>
        <div *ngFor="let genre of genresSimple">
          <div class="col-sm-2">
            <label for="{{ genre }}">{{ genre }} : </label>
            <input type="checkbox" (change)="selected(genre)" class="form-control">
          </div>	
        </div> 
      </div>
      <div class="col-sm-2">
        <img class="corbeille" (click)="showGenresExclus()" src="https://image.flaticon.com/icons/svg/3221/3221845.svg">
      </div>  
    </div> 
  </p-dialog>
  <div id="genresExclus">
    <div *ngFor="let genre of genresSelected">
      <div class="col-sm-2">
        <label for="{{ genre }}">{{ genre }} : </label>
        <input type="checkbox" id="{{ genre }}" (change)="restored(genre)" class="form-control">
      </div>	
    </div>
    <button (click)="hideGenresExclus()" class="closePopup">Fermer</button>
  </div>  
  <p-dialog class="row" [(visible)]="displayGenresAvance">
    <div class="row">
      <div class="col-sm-10">
        <div *ngIf="genreFound">
          <label for="{{ genreInput }}">{{ genreInput }} : </label>
          <input type="checkbox" (change)="selected(genreInput)" class="form-control">
        </div>
        <div *ngFor="let genre of genresAvance">
          <div class="col-sm-2">
            <label for="{{ genre }}">{{ genre }} : </label>
            <input type="checkbox" (change)="selected(genre)" class="form-control">
          </div>	
        </div> 
      </div>
      <div class="col-sm-2">
        <img class="corbeille" (click)="showGenresExclus()" src="https://image.flaticon.com/icons/svg/3221/3221845.svg">
      </div>  
    </div> 
  </p-dialog>
  <div id="genresExclus">
    <div *ngFor="let genre of genresSelected">
      <div class="col-sm-2">
        <label for="{{ genre }}">{{ genre }} : </label>
        <input type="checkbox" id="{{ genre }}" (change)="restored(genre, 'avance')" class="form-control">
      </div>	
    </div>
    <button (click)="hideGenresExclus()" class="closePopup">Fermer</button>
  </div>     
  <p-dialog class="row" [(visible)]="displayRealisateurs">
    <div class="row">
      <div class="col-sm-10">
        <div *ngIf="realFound">
          <label for="{{ realInput }}">{{ realInput }} : </label>
          <input type="checkbox" id="{{ realInput }}" (change)="selected(realInput)" class="form-control">
        </div>
        <div *ngFor="let real of tenReals">
          <div class="col-sm-2">
            <label for="{{ real }}">{{ real }} : </label>
            <input type="checkbox" id="{{ real }}" (change)="selected(real)" class="form-control">
          </div>	 
        </div> 
      </div>
      <div class="col-sm-2">
        <img class="corbeille" (click)="showRealsExclus()" src="https://image.flaticon.com/icons/svg/3221/3221845.svg">
      </div>
    </div>
  </p-dialog>
  <div id="realsExclus">
    <div *ngFor="let real of realisateursSelected">
      <div class="col-sm-2">
        <label for="{{ real }}">{{ real }} : </label>
        <input type="checkbox" id="{{ real }}" (change)="restored(real)" class="form-control">
      </div>	
    </div>
    <button (click)="hideRealsExclus()" class="closePopup">Fermer</button>
  </div>
  <p-dialog class="row" [(visible)]="displayActeurs">
    <div class="row">
      <div class="col-sm-10">
        <div *ngIf="actorFound">
          <label for="{{ actorInput }}">{{ actorInput }} : </label>
          <input type="checkbox" id="{{ actorInput }}" (change)="selected(actorInput)" class="form-control">
        </div>
        <div *ngFor="let acteur of tenActors">
          <div class="col-sm-2">
            <label for="{{ acteur }}">{{ acteur }} : </label>
            <input type="checkbox" id="{{ acteur }}" (change)="selected(acteur)" class="form-control">
          </div>	 
        </div> 
      </div>
      <div class="col-sm-2">
        <img class="corbeille" (click)="showActorsExclus()" src="https://image.flaticon.com/icons/svg/3221/3221845.svg">
      </div>
    </div>
  </p-dialog>
  <div id="actorsExclus">
    <div *ngFor="let acteur of actorsSelected">
      <div class="col-sm-2">
        <label for="{{ acteur }}">{{ acteur }} : </label>
        <input type="checkbox" id="{{ acteur }}" (change)="restored(acteur)" class="form-control">
      </div>	
    </div>
    <button (click)="hideActorsExclus()" class="closePopup">Fermer</button>
  </div>
  <a [routerLink]="['/movieForm']"><button class="btn btn-succes">Ajouter un film</button></a>
  <div *ngIf="searching">
    <div class="row">
      <h2><strong>Votre Recherche</strong></h2>
      <div *ngFor="let movie of movieSearched">
        <div class="col-sm-2" id="movie">
          <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="bestMoviesChecked">
    <h2><strong>Selection</strong></h2>
    <div class="col-sm-3" id="bestMovie">
      <a [routerLink]="['/movie', bestMovie.id ]"><img src="{{ bestMovie.cov }}" class="image" alt="{{ bestMovie.titre }}"></a>
      <br>
      <div class="block">
        <app-star-rating [score]="bestMovie.note" [forDisplay]="true"></app-star-rating>
      </div> 
      {{ bestMovie.year }}
    </div>
    <div class="col-sm-9">
      <div *ngFor="let movie of bestHeightMovies">
        <div class="col-sm-3" id="movie">
          <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2><strong>Les films</strong></h2>
    <div *ngFor="let movie of movies">
      <div class="col-sm-2" id="movie">
        <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
      </div>	
      <div class="popup">
        <div class="col-sm-6" *ngIf="movie.avertissement" style="font-weight: bold;">
          <p>{{ movie.avertissement }}</p>      	
        </div>
        <div class="col-sm-6" *ngIf="movie.pegi">
          <img src="{{ movie.pegi }}" style="width: 45px;"/>      	
        </div>
        <div class="col-sm-6">
          <label for="genres">Genres : </label>
          <p>{{ movie.genre }}</p>
        </div>
        <div class="col-sm-6">
          <label for="synopsis">Synopsis : </label>
          <p>{{ movie.synopsis }}</p>
        </div>
        <div class="col-sm-6">
          <label for="realisateur">realisateur : </label>
          <p>{{ movie.realisateur }}</p>
        </div>
        <div class="col-sm-6">
          <label for="casting">casting : </label>
          <p>{{ movie.casting }}</p>
        </div>
        <div class="col-sm-6">
          <label for="année">Année : </label>
          <p>{{ movie.year }}</p>
        </div>
      </div> 
    </div>
  </div>
</div> 
</body>
