<body>
  <div class="container"> 	
    <button class="btn btn-primary" (click)="switchMode()" *ngIf="exclusion">Mode Inclusion</button>
    <button class="btn btn-primary" (click)="switchMode()" *ngIf="!exclusion">Mode Exclusion</button>
    <div class="row">
      <div class="col-sm">
        <div class="btn btn-succes" i18n>genres simples</div>
        <img *ngIf="!displayGenres" class="double_arrows" (click)="showGenresSimples()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayGenres" class="double_arrows" (click)="hideGenresSimples()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
      </div>
      <div class="col-sm">
        <div class="btn btn-succes" i18n>genres avancés</div>
        <img *ngIf="!displayGenresAvance" class="double_arrows" (click)="showGenresAvance()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayGenresAvance" class="double_arrows" (click)="hideGenresAvance()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
        <input *ngIf="displayGenresAvance" (input)="genreAvanceSearched($event.target.value)" type="text" class="form-control" id="genreSearch"/>
      </div>
      <div class="col-sm">
        <div class="btn btn-succes" i18n>Réalisateurs</div>
        <img *ngIf="!displayRealisateurs" class="double_arrows" (click)="showRealisateurs()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayRealisateurs" class="double_arrows" (click)="hideRealisateurs()" src="https://image.flaticon.com/icons/svg/60/60640.svg">
        <input *ngIf="displayRealisateurs" (input)="searched($event.target.value)" type="text" class="form-control" id="realSearch"/>
      </div>
      <div class="col-sm">
        <div class="btn btn-succes" i18n>Acteurs</div>
        <img *ngIf="!displayActeurs" class="double_arrows" (click)="showActeurs()" src="https://image.flaticon.com/icons/svg/60/60920.svg">
        <img *ngIf="displayActeurs" class="double_arrows" (click)="hideActeurs()" src="https://image.flaticon.com/icons/svg/60/60640.svg">  
        <input *ngIf="displayActeurs" (input)="searched($event.target.value)" type="text" class="form-control" id="actorSearch"/>
      </div>
    </div>
    <app-checkboxes *ngIf="displayGenres" [items]="genresSimple" (itemsSelected)="selected($event, 'genres')"></app-checkboxes>  
    <app-checkboxes *ngIf="displayGenresAvance" [items]="genresAvance" [itemFound]="genreFound" [itemInput]="genreInput" (itemsSelected)="selected($event, 'genres')"></app-checkboxes>  
    <app-checkboxes *ngIf="displayRealisateurs" [items]="tenReals" [itemFound]="realFound" [itemInput]="realInput" (itemsSelected)="selected($event, 'realisateurs')"></app-checkboxes>  
    <app-checkboxes *ngIf="displayActeurs" [items]="tenActors" [itemFound]="actorFound" [itemInput]="actorInput" (itemsSelected)="selected($event, 'acteurs')"></app-checkboxes>     
    <div *ngIf="searching">
      <h2><strong>Votre Recherche</strong></h2>
      <div class="row">
        <div *ngFor="let movie of movieSearched">
          <div class="col-sm-2" id="movie">
            <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bestMoviesChecked">
      <h2><strong i18n>Selection</strong></h2>
      <div class="col-sm-3" id="bestMovie">
        <a [routerLink]="['/movie', bestMovie.id ]"><img src="{{ bestMovie.cov }}" class="image" alt="{{ bestMovie.titre }}"></a>
        <br>
        <div class="block">
          <app-star-rating [score]="bestMovie.note" [forDisplay]="true"></app-star-rating>
        </div> 
        {{ bestMovie.year }}
      </div>
      <div class="col-sm-9">
        <div *ngFor="let movie of bestHeightMovies">
          <div class="col-sm-3" id="movie" [ngbTooltip]="tipContent" tooltipClass="my-custom-class">
            <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
          </div>
          <ng-template #tipContent>
            <app-infobulle [movie]="movie"></app-infobulle>
          </ng-template>
        </div>
      </div>
    </div>
    <a [routerLink]="['/movieForm']"><button class="btn btn-primary">Ajouter un film</button></a>
    <h2><strong>Les films</strong></h2>
    <div *ngFor="let movie of movies">
      <div class="col-sm-2" id="movie" [ngbTooltip]="tipContent" tooltipClass="my-custom-class">
        <a [routerLink]="['/movie', movie.id ]"><img src="{{ movie.cov }}" class="image" alt="{{ movie.titre }}"/></a>  	
      </div>	
      <ng-template #tipContent>
        <app-infobulle [movie]="movie"></app-infobulle>
      </ng-template> 
    </div>
  </div> 
</body>
