<div class="container mt-5 card">
  <div class="card-body">
      <form (ngSubmit)="validateForm()">
        <div class="form-group">
              <label for="titre">Titre : </label>
              <input [(ngModel)]="newSerie.titre" name="titre" id="titre" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="synopsis">Synopsis : </label>
              <input [(ngModel)]="newSerie.synopsis" name="synopsis" id="synopsis" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="genres">Genres : </label>
              <input [(ngModel)]="newSerie.genre" name="genres" id="genres" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="casting">Casting : </label>
              <input [(ngModel)]="newSerie.casting" name="casting" id="casting" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="casting">Créateur : </label>
              <input [(ngModel)]="newSerie.creator" name="casting" id="casting" class="form-control" required/>
          </div>
          <div class="form-group">
            <label for="casting">Saisons : </label>
            <input [(ngModel)]="newSerie.seasons" name="saisons" id="saisons" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="cov">Couverture : </label>
              <input [(ngModel)]="newSerie.cov" name="cov" id="cov" class="form-control" required/>
          </div>	
          <div class="form-group">
              <label for="BA">BA : </label>
              <input [(ngModel)]="newSerie.ba" name="BA" id="BA" class="form-control"/>
          </div> 	        
          <button class="btn btn-success">Ajouter/Modifier la série</button>
      </form>
   </div>
  </div>