<div class="container mt-5 card">
  <div class="card-body">
      <form (ngSubmit)="validateForm()">
        <div class="form-group">
              <label for="titre">Titre : </label>
              <input [(ngModel)]="newMovie.titre" name="titre" id="titre" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="synopsis">Synopsis : </label>
              <input [(ngModel)]="newMovie.synopsis" name="synopsis" id="synopsis" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="genres">Genres : </label>
              <input [(ngModel)]="newMovie.genres" name="genres" id="genres" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="realisateur">Réalisateur : </label>
              <input [(ngModel)]="newMovie.realisateur" name="realisateur" id="realisateur" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="casting">Casting : </label>
              <input [(ngModel)]="newMovie.casting" name="casting" id="casting" class="form-control" required/>
          </div>
          <div class="form-group">
              <label for="cov_verticale">Couverture verticale: </label>
              <input [(ngModel)]="newMovie.cov_verticale" name="cov_verticale" id="cov_verticale" class="form-control" required/>
          </div>	
          <div class="form-group">
            <label for="cov_horizontale">Couverture horizontale: </label>
            <input [(ngModel)]="newMovie.cov_horizontale" name="cov_horizontale" id="cov_horizontale" class="form-control" required/>
          </div>
          <div class="form-group" style="display : inline-block; vertical-align : top;">
            <label for="time">Durée: </label>
            <input [(ngModel)]="newMovie.time" name="time" id="time" class="form-control" required/>
          </div>
          <div class="form-group" style="display : inline-block; vertical-align : top;">
            <label for="time">AlloCiné note: </label>
            <input [(ngModel)]="newMovie.alloGrade" name="alloGrade" id="alloGrade" class="form-control" required/>
          </div>
          <div class="form-group" style="display : inline-block; vertical-align : top;">
            <label for="time">Imdb note: </label>
            <input [(ngModel)]="newMovie.imdbGrade" name="imdbGrade" id="imdbGrade" class="form-control" required/>
          </div>
          <div class="form-group" style="display : inline-block; vertical-align : top;">
              <label for="year">Année : </label>
              <input [(ngModel)]="newMovie.year" name="year" id="year" class="form-control" required/>
          </div>	
          <div class="form-group" style="display : inline-block; vertical-align : top;">
              <label for="pegi">Pegi : </label>
              <input [(ngModel)]="newMovie.pegi" name="pegi" id="pegi" class="form-control"/>
          </div> 
          <div class="form-group">
              <label for="avertissement">Avertissement : </label>
              <input [(ngModel)]="newMovie.avertissement" name="avertissement" id="avertissement" class="form-control"/>
          </div> 	        
          <button class="btn btn-success">Ajouter/modifier le film</button>
      </form>
   </div>
  </div>