<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a class="nav-link" routerLink=""><button class="btn btn-primary">Films</button></a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="series"><button class="btn btn-primary">Series</button></a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link">
                    <img id="imgsearch" src="https://images-na.ssl-images-amazon.com/images/I/51iGJFTlGpL._AC_SX425_.jpg">
                    <input [(ngModel)]="search" type="text" class="form-control" id="inputsearch"/>
                </a>
            </li>
            <li *ngIf="!user" routerLinkActive="active">
                <a class="nav-link" routerLink="login"><button class="btn btn-primary">S'identifier</button></a>
            </li>
            <li *ngIf="!user" routerLinkActive="active">
                <a class="nav-link" routerLink="register"><button class="btn btn-primary">Créer un compte</button></a>
            </li>
            <li *ngIf="user" routerLinkActive="active">
                <a class="nav-link" routerLink="user"><button class="btn btn-primary">{{ user.pseudonyme }}</button></a>
            </li>
            <li *ngIf="user" routerLinkActive="active">
                <a class="nav-link"><button class="btn btn-primary" (click)="logout()">Se déconnecter</button></a>
            </li>
        </ul>
    </div>
</nav>