.navbar{
    margin: 0;
}

#inputsearch{
    width: 200px;
}

#imgsearch{
    width: 35px;
    height: 35px;
    float: left;
}

button{
    background-color: transparent;
    color: white;
}
hr{
    position: relative;
    color: white;
    top: 35px;
}
.fa-user{
    color: white;
}