<div class="row">
  <div class="col-sm-6">
    <label for="synopsis">Synopsis : </label>
    {{ movie.synopsis }}
    <p>
      <span>{{ movie.avertissement }}</span>    	
    </p>
    <p>
      <span>{{ movie.pegi }}</span>  	
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <label for="genres">Genres : </label>
      {{ movie.genre }}
    </p>
    <p>
      <label for="realisateur">realisateur : </label>
      {{ movie.realisateur }}
    </p>
    <p>
      <label for="casting">casting : </label>
      {{ movie.casting }}
    </p>
    <p>
      <label for="année">Année : </label>
      {{ movie.year }}
    </p>
  </div>
</div>
